@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    color: whitesmoke;
    font-family: Poppins;
    background-color: #14181c;
}

a:visited {
    text-decoration: none;
}

a{
    text-decoration: none;
}

.navbar{
    margin-top: 1em;
    text-align: end;
    margin-bottom: 2em;
}

.right-button{
    color: #fa5252;
    background-color: #14181c;
    border: none;
    font-size: 1.25em;
    margin-left: auto; /* Pushes button to the right edge */
    padding: 0.25em 1em;
    border-radius: 4px;
    transition: background 0.2s;
}

.right-button:hover {
    cursor: pointer;
    background-color: #fa5252;
    color: #fff;
}

.content-container{
    text-align: center;
    margin: 0 15em;
}

.footer{
    margin: 2em;
    text-align: center;
}

.red{
    color: #fa5252;
}