{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
    <div>
        <center>
            <h1> About Outreach</h1>
            <span class="about-p1">
                outreach aims to provide you with an easy way to archive your listening history into 
                playlists without having to go into your history and right click every single track <br> 
                this has been incredibly useful for me on occasion and i hope it serves you similarly
            </span>
        </center>
        <p> <center>
            Feel free to reach out to me on my 
            <a href="https://www.linkedin.com/in/akshatshankar15/" target="_blank" rel="noopener noreferrer"> linkedin</a>,
            <a href="https://www.instagram.com/akshatshankar_/" target="_blank" rel="noopener noreferrer"> instagram </a>
            or mail me at
            <a href="mailto:akshatshankar65@gmail.com?subject=outreach"> akshatshankar65@gmail.com </a>
            for any bugs, suggestions or possible vulnerabilities you may encounter and i will get back to you asap!
        </center></p>
    </div>
{% endblock %}