<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}outreach{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='base-icon.png') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <a href = '/home' class="right-button"> home </a>
        <a href = '/about' class="right-button"> about </a>
        <a href = '/privacy' class="right-button"> privacy </a>
        <a href = '/logout' class="right-button"> logout </a>
    </nav>
    <div class="content-container">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        Made by <a href="https://www.linkedin.com/in/akshatshankar15/" target="_blank" rel="noopener noreferrer" class="red"> Akshat Shankar
    </footer>
</body>
</html>