{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div style="text-align: center;" > <!-- style="text-align: center;" -->
        <h2>
        <a href ='/get-tracks' class="centered-button"> View your tracks </a> <br>
        <a href ='init-archive' class="centered-button"> Click to make playlist </a> <br>
        <!--<form action="/init-archive" method="get" style="display: inline;">
            <button type="submit" class="centered-button">Click to make playlist</button>
        </form>-->
        <!--<a href="/init-archive">Click here to make playlist</a> -->
        <form action="/get-archive" method="post" style="display: inline;">
            <input type="text" name="playlist_id" placeholder="Enter playlist ID" required>
            <button type="submit">Add Tracks to Playlist</button>
        </form>
    </div>

{%endblock%}

<!-- <a href="/init-archive" style="display: inline-block; padding: 0.5em 1.5em; 
background: #1DB954; color: white; border-radius: 4px; text-decoration: none; 
font-weight: bold;">Click here to make playlist</a> <br> button esque link
-->