{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div>
        <h1> archive generated. </h1>
        <h3>
        <a href ='/get-tracks' class="centered-button"> edit your archive </a> <br>
        <form action="get-archive" method="post">
            <button type="submit" class="centered-button"> generate playlist </button>
        </form>
        <!--<a href ='init-archive' class="centered-button"> make the playlist </a> <br>
        <form action="/get-archive" method="post" style="display: inline;">
            <input type="text" name="playlist_id" placeholder="enter playlist id" required>
            <button type="submit">add tracks</button>
        </form>
        -->
        </h3>
    </div>

{%endblock%}