{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tracks_added.css')}}">
{% endblock %}

{% block content %}
  <h3> Here's your recently played tracks!</h3>
  <p> Click the x to remove the track from your archive</p>
  <ul id="tracks-list">
    {% for title, album_cover, track_id in tracks %}
      <li data-track-id="{{ track_id }}">
      <img src="{{ album_cover }}" width="64" height="64">
      {{ title }}
      <button class="remove_btn">X</button>
    </li>
    {% endfor %}
  </ul>
  <script src="{{ url_for('static', filename='js/get_tracks.js') }}"></script>
{% endblock %}